.logoimg{
	height: 50px;
}

.steuntext{
	color: white;
	text-align: left;
}

.marginauto{
	margin: 0 auto;
}

.bold{
	font-weight: bold;
}

.opening .bold{
	color: rgba(255, 255, 255, 0.5);
}

.margintop{
	margin-top: 20px;
}

.bwhite{
	background: rgba(255,255,255,0.6);
}

.text-primary{
	color: rgb(34,110,185)!important;
}

.bg-primary{
	background: rgb(34,110,185)!important;
}

.nodisplay{
	display: none;
}

#center #centerbutton{
	text-align: center!important;
}